@model IEnumerable<ProjetoCidades.Models.Cidade>
<div>
    <h2>Cidades e Estados do Martché</h2>
    <hr>
    @{
        foreach(var item in Model){
            <li>@item.Nome - @item.Estado</li>
        }
    }
</div>




    
